h1{
	background: lime;
	padding: 10px 10px 30px 50px;
	font-size: 64px;
	color: white;
	border-radius: 16px;
	display: inline-block;
	box-shadow: 2px 2px 6px 0px #333;
}

form{
	max-width: 300px;
}

form div{
	display: table-row;
}

form div span{
	display: table-cell;
	padding-right: 10px;
}

form div input, form div select{
	display: table-column;
	margin-bottom: 5px;
	box-shadow: inset 0px 1px 3px 0 #999;
	border: 1px solid #999;
	width: 100%;
}

form div:last-child{
	float: right;
}